    .header {
    text-align: center;
    color: white
}

.container {
    background-color: violet;
    /* max-width: 650px; */
}

.row {
    float: relative;
    text-align: center;
}


/* Background images */

body {
    background-image: url("http://i.imgur.com/bAhfK76.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}


/* Media inqueries start here*/

@media screen and (max-width: 640px) {
    #masthead,
    #main-container,
    {
        position: static;
    }
    .wrapper {
        width: 100%;
        padding: 20px;
    }
}