




/* Background images */

body {
    background-image: url("http://i.imgur.com/bAhfK76.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.container{
    position: relative;
    background-color: violet;
    max-width: 650px;
    
}

.winLosses {
    position: absolute;
    font-size: 15px;
}

.gem {
    position: relative;
    height: 50px;
    margin: 20px;
}

.total {
    position: relative;
    font-size: 18px;
    height: 30px;
    padding: 10px;
}

.randomNumber {
    float: right;
    font-size: 15px;
}


/*Media inqueries start here*/


       /* Width at 640px and below */
        @media screen and (max-width: 640px) {
            #masthead,
            #main-container,
            {
                position: static;
            }
            .wrapper {
                /* Box-model */
                width: 100%;
                padding: 20px;
            }